a.icon{
    padding-left: 32px;
    background-image: url('../img/pengwing_icon_small.png');
    background-repeat: no-repeat;
    background-position: left;
}

h1.header{
    margin: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

div.inner_container{
    margin: 20px;
}

table.table{
    border: 1px solid #ddd;
}

div.footer{
    margin: 20px;
    font-size: 12px;
    text-align: center;
    background-color: #eee;
    color: #555;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}