<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pengwing! - {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 for IE6-8  -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/pengwing.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand icon" href="{{ url_for('index') }}">Pengwing!</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="btn {% if page=='index' %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ url_for('index') }}">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="btn {% if page=='queue' %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ url_for('queue') }}">
              Item Queue ({{num_in_item_queue}})
            </a>
          </li>
          <li class="nav-item">
            <a class="btn {% if page=='bid_review' %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ url_for('bid_review') }}">
              Bid Review
            </a>
          </li>
          <li class="nav-item">
            <a class="btn {% if page=='searches' %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ url_for('searches') }}">
              Searches
            </a>
          </li>
          <li class="nav-item">
            <a class="btn {% if page=='config' %}btn-primary{% else %}btn-secondary{% endif %}" href="{{ url_for('config') }}">
              Config
            </a>
          </li>
        </ul>
      </nav>

      <h1 class="header">{% block header %}{% endblock %}</h1>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert {% if category %}alert-{{category}}{% else %}alert-info{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock content %}

      <div class="footer">
        mweh meweh noot noot noot noot noot pengwing noot noot<br/>
        fiona + alice 2016
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
