{% extends 'base.html' %}
{% import "forms.html" as forms %}

{% block title %}Bid Review{% endblock %}
{% block header %}Bid Review{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if sub_page=='future' %} active{% endif %}" href="{{ url_for('bid_review') }}">Future Bids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if sub_page=='success' %} active{% endif %}" href="{{ url_for('bid_review_success') }}">Successful Bids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if sub_page=='failed' %} active{% endif %}" href="{{ url_for('bid_review_failed') }}">Failed Bids</a>
  </li>
</ul>
{% endblock %}
