{% extends 'bid_review_base.html' %}

{% block content %}
{{ super() }}
<div class="inner_container">
  <p>These are the items Pengwing failed to win. :(</p>
  <form action="" method="post">
    {{table}}
    {% if table.items|length > 0 %}
    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Hide All Items</button>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}
