{% extends 'bid_review_base.html' %}

{% block content %}
{{ super() }}
<div class="inner_container">
  <p>All items that Pengwing is due to bid on are here, you can update bids and cancel any.</p>
  <form action="" method="post">
    {{table}}
    <div style="text-align: right">
      <button type="submit" class="btn btn-primary">Update Bids</button>
    </div>
  </form>
</div>
{% endblock %}
