{% extends 'base.html' %}
{% import "forms.html" as forms %}

{% block title %}Configuration{% endblock %}
{% block header %}Configuration{% endblock %}

{% block content %}
<div class="inner_container">
  <p>Edit Pengwing's configurable settings.</p>
  <form action="" method="post">
   {{ forms.render(form) }}
   <div class="form-group row">
     <div class="col-sm-offset-4 col-sm-8">
       <button type="submit" class="btn btn-secondary">Save Config</button>
     </div>
   </div>
   <form>
</div>

{% endblock %}
