{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
  <div class="form-group row {% if field.errors %}error{% endif %}">
    <label class="col-sm-4 form-control-label" for="field.name">{{ field.label.text }}</label>
    <div class="col-sm-8">
      {% if field.type in ["IntegerField", "FloatField"] %}
        {{ field(size=3, class="form-control") }}
      {% elif field.type  == "StringField" %}
        {{ field(class="form-control") }}
      {% else %}
        {{ field() }}
      {% endif %}
      {% if field.errors or field.help_text %}
        <span class="help-inline">
        {% if field.errors %}
          {{ field.errors|join(' ') }}
        {% else %}
          {{ field.help_text }}
        {% endif %}
        </span>
      {% endif %}
    </div>
  </div>
{% endif %}
{% endfor %}
</fieldset>
{% endmacro %}
