{% extends 'base.html' %}
{% import "forms.html" as forms %}

{% block title %}Item Queue{% endblock %}
{% block header %}Item Queue{% endblock %}

{% block content %}
<div class="inner_container">
  <p>This queue is all items Pengwing has found in it's searches and need to be curated.</p>
  <form action="" method="post">
    {{table}}
    <div style="text-align: right">
      <button type="submit" class="btn btn-primary">Curate Items</button>
    </div>
  </form>
</div>
{% endblock %}
