{% extends 'base.html' %}
{% import "forms.html" as forms %}

{% block title %}Searches{% endblock %}
{% block header %}Searches{% endblock %}

{% block content %}
<div class="inner_container">
  <p>Pengwing will search eBay for all the search queries here automatically and
    log each item it finds.</p>
  {{table}}
  <a class="btn btn-primary-outline" href="{{ url_for('searches_add') }}">Add Search</a>
</div>
{% endblock %}
